#container{
    background-color: #EEEEEE;
    position: fixed;
    width: 100%;
    height:100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    transition: all ease-in-out .5s ;
}